@page "/testing-type"
@using Microsoft.AspNetCore.Authorization
@using EnglishApiClient.Components
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

@if (_types == null)
{
    <LoadingIndicator/>
}
else
{
    <h3>Types of testing</h3>
    <div class="tags">
        <div class="func-block">
            <NavLink href="create-type">
                 <p>Create type <span title="Add new tag" class="oi oi-plus"></span></p>
            </NavLink> 
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in _types)
                {
                    <tr @onclick="@(()=>NavigationManager.NavigateTo($"/edit-type/{type.Id}"))">
                        <td>@type.Id</td>
                        <td>@type.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
