@page "/change-user-password/{UserId:guid}"
@using EnglishApiClient.Components
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin")]

 <div class="row justify-content-md-center">
    <div class="col-md-7 col-sm-12">
    <h3>Set new password</h3>
        <div class="col">
            <EditForm Model="_user" OnValidSubmit="SetPassword" class="card card-body bg-light">
                <DataAnnotationsValidator />              
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="password" class="form-label">Password</label>
                        <InputText id="password" type="password" class="form-control" @bind-Value="_user.NewPassword" />
                        <ValidationMessage For="@(() => _user.NewPassword)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="conf-password" class="form-label">Confirm Password</label>
                        <InputText id="conf-password" type="password" class="form-control" @bind-Value="_user.NewConfirmPassword" />
                        <ValidationMessage For="@(() => _user.NewConfirmPassword)" />
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button class="btn btn-primary" type="submit">Set password</button>
                    </div>
                  </div>
            </EditForm>
        </div>
    </div>
</div>   