    @if(Tags == null)
    {
        <p>Loading...</p>
    }
    else
    {
         <div class="filter-item">
            @foreach (var tag in Tags)
            {
                <span @onclick="() => SetOrRemoveTag(tag.Name)" class="badge rounded-pill tag @StyleTag(tag.Name)">
                      @tag.Name 
                </span>
            }
        </div>
    }

