.tags .tag {
    margin-right: 7px;
}

.tags {
    padding: 0px 20px 10px 20px;
}

.dictionaries {
    min-height: 700px;
}

.btn-menu {
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}