@if(Words == null)
{
    <p>Loading...</p>
}
else if(Words.Count() < 1)
{
    <div class="alert alert-warning" role="alert">
        This dictionary doesn't have any words.
    </div>
}
else
{
    <SearchForm OnSearchChanged="SearchChanged" />
    <div class="words">
        @foreach(var word in Words)
        {
            <div @onclick="() => OnEditWord.InvokeAsync(word.Id)" class="word-block shadow-sm">
                <div class="d-flex text-muted">
                    @if (word.PictureUrl != null)
                    {
                        <img class="word-img" src="@word.PictureUrl" alt="" width="40" height="40">
                    }

                    <p class="word-p">
                        <strong class="d-block text-gray-dark">@word.Name [@word.Transcription]</strong>
                        @foreach(var translate in word.Translates)
                        {
                            <span class="badge rounded-pill text-dark bg-warning translates">@translate.Name</span>
                        }
                    </p>

                    @if(word.AudioUrl != null){
                        <div class="word-audio">
                            <span @onclick="() => PlaySound(word.Id)" id="soundButton" class="oi oi-volume-high"></span>
                            <audio id="sound-@word.Id" src="@word.AudioUrl" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col">
            <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
        </div>
    </div>
}