@inject NavigationManager NavigationManager
<div class="dictionaries">
    @if (Dictionaries == null){
        <p>Loading...</p>
    }
    else if (Dictionaries.Count() <= 0){
        <div style="margin: 15px;" class="alert alert-warning" role="alert">
            You don`t have dictionaries
        </div>
    }
    else {
          @foreach (var dict in Dictionaries)
          {
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="card" @onclick="@(() => NavigationManager.NavigateTo($"dictionary/{dict.Id}"))">
                        <div class="card-body">
                            <h5 class="card-title">@dict.Name</h5>
                            <p class="card-text">@dict.Description</p>
                        </div>
                        <div class="tags">
                            @foreach (var tag in dict.Tags)
                            {
                                <span class="badge rounded-pill bg-primary tag">@tag.Name</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
          }
    }
</div>
