<div style="display:inline-block; margin-bottom:10px;">
    <div style="display:inline-block;margin-right:5px;" >
        <label for="sort">Sort by </label>
    </div>
    <div style="display:inline-block;">
        <select id="sort" class="form-control" @onchange="ApplySort">
            @if(SortTypes == null)
            {
                <p>Loading...</p>
            }
            else
            {
                @foreach (var item in SortTypes)
                {
                    <option value="@item.Value">@item.Key</option> 
                }
            }
            
        </select>
    </div>
</div>
