.tag {
    margin: 10px 5px 0px 0px;
}
.func-block div{
    display:inline-block;
    margin-left:10px;
}

.dictionary-func {
    text-align: end;
}

.add-word, .start-test {
    cursor: pointer;
}

.disabled {
    color: darkgreen;
    cursor: default;
}

.dictionary-func {
    margin-right: 0;
    margin-left: auto;
}
