@page "/dictionaries"
@page "/"
@using EnglishApiClient.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<div class="row">
    <div class="func-block">
        <AuthorizeView>
            <Authorized>
                <div>
                    <NavLink href="dictionary-add">
                        <p>Add dictionary <span title="Add new dictionary" class="oi oi-plus"></span></p>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="d-md-none d-lg-none" style="float:right"> 
            <label class="btn-menu" for="hmt">
                <p> Filters <span class="oi oi-magnifying-glass"></span></p> 
            </label>
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <ListDictionary Dictionaries="_englishDictionaries" />
        <div class="row">
            <div class="col">
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <DictionaryFilters OnSearchChanged="SearchChanged" />
    </div>
</div>

