.tag {
    margin: 10px 0px 0px 0px;
}
.func-block div{
    display:inline-block;
    margin-left:10px;
}

.dictionary-func {
    text-align: end;
}

.add-word{
    cursor:pointer;
}

.words {
    overflow-y: scroll;
    height: 700px;
}

.dictionary-func, .word-audio, .search-word {
    margin-right: 0;
    margin-left: auto;
}

.word-img{
    margin-right:10px;
}
