@page "/dictionaries"
@page "/"
@using EnglishApiClient.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<div class="row">
    <div class="func-block">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div>
                    <NavLink href="dictionary-add">
                        <p>Add dictionary <span title="Add new dictionary" class="oi oi-plus"></span></p>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
    <ListDictionary IsPrivateDictionaries="false" />
</div>

